#for page not found
ErrorDocument 404 /pms/public/404.php
ErrorDocument 403 /pms/public/403.php

#Prevent directory listing in all  of my folder

IndexIgnore *
Options -Indexes
#make pages rend without their extension
RewriteEngine on
Options +MultiViews
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^home$ index.php [NC,L]
RewriteRule ^institution/([0-9]+)$ display.php?id=$1 [NC,L]

 
RewriteRule ^search/(.*)$ ./search.php?query=$1
Options -Indexes
